name: Image Checks

on:
  push:
    # Run only on release tags
    tags:
      - v*
    # or commits to main (when PRs are merged)
    branches:
      - main
  # but all PRs
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}

      - name: Set application version
        if: ${{ github.ref_type == 'tag' }}
        run: sed -i 's/^version = ".*"$/version = "${STEPS_META_OUTPUTS_VERSION}"/' Cargo.toml
        env:
          STEPS_META_OUTPUTS_VERSION: ${{ steps.meta.outputs.version }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/diamondlightsource
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          context: .
          cache-from: type=registry,ref=ghcr.io/diamondlightsource/numtracker:buildcache
          cache-to: type=registry,ref=ghcr.io/diamondlightsource/numtracker:buildcache,mode=max
          tags: numtracker-build-cache
          load: true

      - name: Publish image
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          push: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}


      - name: Install Helm
        uses: Azure/setup-helm@v4.3.1
        with:
          version: "v4.0.4"
        id: install

      - name: Helm login to GHCR
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io --username ${{ github.repository_owner }} --password-stdin

      - name: Package and push chart
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        run: |
          helm dependencies update helm/numtracker
          helm package helm/numtracker --version ${STEPS_META_OUTPUTS_VERSION} --app-version ${STEPS_META_OUTPUTS_VERSION} -d /tmp/
          helm push /tmp/numtracker-${STEPS_META_OUTPUTS_VERSION}.tgz oci://ghcr.io/diamondlightsource/charts
        env:
          STEPS_META_OUTPUTS_VERSION: ${{ steps.meta.outputs.version }}